.MessageList {
    flex: 1;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    width: 75vw;
    padding: 20px;
    overflow: auto;
}

.Message {
    display: flex;
    flex-direction: column;
}

.MessageRight {
    align-items: flex-end;
}


.Cloud {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: white;
    display: block;
    margin: 10px 20px 20px 20px;
    border-top-left-radius: 0;
    box-shadow: 1px 1px 2px #444;
    word-break: break-all;
}

.CloudRight {
    border-radius: 20px;
    border-top-right-radius: 0;
    background-color: rgba(159, 157, 147, 0.86);
    color: white;
}